* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Montserrat';

}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

body {
    width: 100%;
    margin: 0 auto;
}

.content {
    max-width: 1280px;
    margin: 20px auto;

}

.header {
    position: relative;
    text-align: center;
    padding: 30px 0;
}


.header__nav ul {
    vertical-align: middle;
}

.header__nav li a {
    margin: 0 33px;
    text-decoration: none;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}

.header__nav li {
    list-style: none;
    display: inline-block;
}

.main__image {
    width: 100%;
}

.main {
    text-align: center;
    padding-bottom: 42px;
}

.main__title {
    text-transform: uppercase;
    margin-top: 49px;
    letter-spacing: 3.3px;
    font-size: 22px;
}

.main__text {
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    text-align: center;
    letter-spacing: 2.4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.main__button {
    display: inline-block;
    padding: 20px 35px;
    margin: 66px 0 0;
    background: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.footer {
    padding: 44.5px 105px 44.5px 0;
    text-align: right;
}

.footer__item {
    display: inline-block;
    letter-spacing: 2.4px;
    font-size: 16px;
}